<p>
  book details module
</p>
<div *ngIf="book">
      <h2>{{book.name}} details!</h2>
      <div><label>id: </label>{{book.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="book.name" placeholder="name"/>
      </div>
      <div>
        <label>author: </label>
        <input [(ngModel)]="book.author" placeholder="author"/>
      </div>
<!--
        <button (click)="save()">Save</button>
      <button class="delete"
           (click)="delete(book); $event.stopPropagation()">x</button>
-->

    </div>